.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20,18,52,0.6) !important;
  padding: 10px 20px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.logos h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.logo-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  gap: 8px; 
}

.logo-text {
  margin: 0;
  font-size: 16px;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li a.active {
  text-decoration: underline;
  font-size: 14px;
}
