.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #213c77;
    padding: 10px 20px;
  }
  
  .logo-icon {
    font-size: 24px;
    color: white;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-bottom: 0px!important;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-links li a.active {
    text-decoration: underline;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login-btn {
    background: #f3f3f3;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .signup-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  