.search-container {
  display: flex!important;
  justify-content: flex-end;
  /* align-items: center;
  gap: 10px; */
  width: 100%;
}

.search-input {
  flex: 1;
  max-width: 300px;
  margin-top: 10px;
  margin-right: 4px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-download {
  background: #213c77;
  color: #ffffff;
}
